section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;

}

.home img{
    border-radius: 50%;

}


.home-img img{
    margin-top: 85px;
    margin-left: 900px;
    position: relative;
    border-radius: 50%;
    width: 32vw;
    cursor: pointer;
    transition: 0.4 ease-in-out;

}


@media screen and (max-width: 1200px) {
    
  }








